$mainblue: #2980b9;
$cloud: #ffffff;
$thoughtorange: #ffeee6;
$backgroundwhite:  #ecf0f1; //#f0f0f5; //#e6f5ff; //#e6f2ff; //#f2f2f2;
$orange: #ff9900;



.welcome_title {
  margin-top: 100px;

  small{

      color: lighten($orange, 10%)
  }
}

.sign_in_title{
  margin-top: 70px;

  small{

      color: lighten($orange, 10%)
  }

}

.sign_in_form {
  margin-top: 30px;

  .sign_in_buttons {

      margin-top: 15px;

  }

}

.sign_up_form{

  margin-top: 25px;

  .sign_up_buttons{
    margin-top: 15px;

  }

}



.homefeed {

  margin-top: 15px;

  .container{

    padding-right: 35px;
  }

  .user_miniprofile{

      background-color: #ffffff;
      padding-bottom: 0px;
      padding-top: 5px;


      .name_username{
          margin-top: 26px;

      }

      .profile_pic{

        padding-left: 0px;
      }

      a {
          color: black;
          &:hover{

            color: $orange;
            text-decoration: none;
          }

      }

      h6 {
        margin-bottom: 0px;


      }

      h4 {
        // padding-left: 15px;
        // text-align: center;
        color: $orange;
        margin-top: 5px;

        &:hover{

          color: $orange;
          text-decoration: none;
        }

      }

      .name {
          color: black;
          text-align: left;
          margin-bottom: 0px;
      }

      .miniprofile_titles{

        // margin-left: 0px;

      }

  }

  .home_thought_new{

    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;

    background-color: $thoughtorange;

    textarea {
      color: $orange;

    }

    .submitbtn{
        margin-top: 5px;

    }
  }


  .home_thought{

    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    background-color: #ffffff;

    &:hover{

      background-color: $thoughtorange;

    }

    h5{
      margin-bottom: 1px;
      margin-top: 5px;

    }

    h3 {
      margin-top: 5px;
      margin-bottom: 5px;

    }


    span {

      font-size: 15px;

      &:hover{

        color:  #ff0066;

      }
    }

    .image {
          padding-left: 5px;
          margin-top: 5px;

    }

    .content {
          padding-left: 25px;

    }

  }
}
