$mainblue: #2980b9;
$cloud: #ecf0f1;
$thoughtorange: #ffeee6;
$backgroundwhite: #f2f2f2;


body{

  background-color: $backgroundwhite;

}




.menubar{
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 35px;
  background-color: $cloud;

  .menulinks{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

    .mainlogo{

      h3 {
        margin-top: 0;
        margin-bottom: 0;


      }

      span{
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        padding-left: 160px;
      }
    }

    .signout_link{
      text-align: right;

    }

    .signin_link {
      text-align: right;

    }
}


.welcome_title {
  margin-top: 100px;
}

.sign_in_form {
  margin-top: 30px;

  .sign_in_buttons {

      margin-top: 15px;

  }

}

.homefeed {

  margin-top: 15px;

  .home_thought_new{

    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;

    background-color: $thoughtorange;
  }
  .home_thought{

    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 0px;

    &:hover{

      background-color: $thoughtorange;

    }

    h5{
      margin-bottom: 1px;

    }

    h3 {
      margin-top: 5px;
      margin-bottom: 5px;

    }


    span {

      font-size: 15px;

      &:hover{

        color:  #ff0066;

      }
    }

  }
}
