.allthinkers_title{
  margin-left: 20px;

  small{

    color: $orange;
  }


}


.allthinkers_links{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: center;

      small{

        margin-right: 10px;
      }

}
