
<div class="row">

  <div class="col-xs-3 col-xs-offset-1">

  </div>


  <div class="col-xs-6">
    <div class="form-group">

      <%= form_for @thought, url: create_user_path do |f| %>

        <div class="">
          <%= f.text_area :body, class: "form-control", size:"10x2" %>
        </div>

        <div class="">
        <%= f.submit "Submit"%>
        </div>

      <% end %>

    </div>  
  </div>

</div>
